@charset "utf-8";
@font-face {
    font-family: "wisdom_scriptregular";
    src: url("../font/wisdom_script_aj-webfont.eot");
    src: url("../font/wisdom_script_aj-webfont.eot?#iefix") format("embedded-opentype"), url("../font/wisdom_script_aj-webfont.woff") format("woff"), url("../font/wisdom_script_aj-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sullivanfill";
    src: url("../font/sullivan-fill-webfont.eot");
    src: url("../font/sullivan-fill-webfont.eot?#iefix") format("embedded-opentype"), url("../font/sullivan-fill-webfont.woff") format("woff"), url("../font/sullivan-fill-webfont.ttf") format("truetype"), url("../font/sullivan-fill-webfont.svg#sullivanfill") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "zeroneroblack";
    src: url("../font/zeronero-webfont.eot");
    src: url("../font/zeronero-webfont.eot?#iefix") format("embedded-opentype"), url("../font/zeronero-webfont.woff") format("woff"), url("../font/zeronero-webfont.ttf") format("truetype"), url("../font/zeronero-webfont.svg#zeroneroblack") format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    min-width: 768px;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: "PT Sans", sans-serif, Arial;
    text-transform: uppercase;
}

p,
ul,
h3,
h2,
h1,
input,
figure {
    margin: 0;
    padding: 0;
}

figure {
    line-height: 0;
}

ul {
    list-style: none;
}

label {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3), 0px -10px 30px 0px #ffffff;
}

.menu a,
.offer-form-label,
.offer-form-label+input {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.menu a:hover {
    color: #81b3d2;
}

.menu a:active {
    color: #b2b2b2;
    color: rgba(0, 0, 0, .3);
}

.menu .menu-active {
    color: #766357;
}

.menu .menu-active:hover {
    color: #604e43;
}

.menu .menu-active:active {
    color: #d6d0cc;
    color: rgba(118, 99, 87, .3);
}

.filter-price-title,
.filter-housing-title,
.filter-infrastructure-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.filter-btn,
.filter-variant,
.filter-price-controll,
.filter-price-boundaries input {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}

.options-found,
.footer-hashtag,
.benefits-block-title,
.result-infoblock-title,
.description-definition {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.result-infoblock-title:hover {
    color: #81b3d2;
}

.result-infoblock-title:active {
    color: rgba(0, 0, 0, .3);
}

.options span,
.options-variant {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.options .options-found {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.options-variant {
    color: rgba(0, 0, 0, .3);
    border-bottom: 1px dotted #81b3d2;
}

.options-active {
    color: #81b3d2;
    border-bottom-color: transparent;
}

.options-variant:hover {
    color: #81b3d2;
}

.options-variant:active {
    color: #000000;
    border-bottom-color: transparent;
}

.result-about-price,
.result-housing-type,
.benefits-block-about,
.city-description-about,
.benefits-numbers-block,
.city-description-subtitle,
.country-description-about,
.country-description-subtitle {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
}

.city-description-about,
.country-description-about,
.city-description-subtitle,
.country-description-subtitle {
    color: #ffffff;
}

.result-booking-btn,
.result-housing-more {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

.result-booking-btn:active,
.result-housing-more:active {
    color: rgba(255, 255, 255, .3);
}

.result-mark-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
}

.description-info,
.footer-copyright-introduction {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
}

.offer-btn,
.offer-form-btn,
.city-description-title,
.country-description-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.offer-btn:active {
    color: #9f928a;
    color: rgba(255, 255, 255, .3);
}

.offer-form-btn:active {
    color: #a7cae0;
    color: rgba(255, 255, 255, .3);
}

.offer-title {
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.offer-info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.offer-form-row input {
    text-transform: none
}

.card-greetings {
    font-family: "sullivanfill", sans-serif, Arial;
    font-size: 63px;
    line-height: 70px;
    color: #81b3d2;
}

.card-subgreetings {
    font-family: "wisdom_scriptregular", sans-serif, Arial;
    font-size: 29px;
    line-height: 44px;
    color: #766357;
    text-transform: none;
}

.card-title {
    font-family: "zeroneroblack", sans-serif, Arial;
    font-size: 116px;
    line-height: 142px;
    color: #ffffff;
}

.card-slogan {
    font-family: "wisdom_scriptregular", sans-serif, Arial;
    font-size: 36.7px;
    line-height: 55px;
    text-transform: none;
    color: #ffffff;
}

.menu {
    font-size: 0;
    min-height: 56px;
}

.menu a {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu .menu-logo {
    height: 56px;
    padding: 0;
    z-index: 50;
}

.filter {
    padding-top: 29px;
    background: #647e94 no-repeat url("../img/hotel-page-logo.jpg");
    background-size: 100% auto;
}

.filter-housing,
.filter-infrastructure {
    box-sizing: border-box;
    width: 256px;
}

.filter-price {
    box-sizing: border-box;
    text-align: center;
    width: 33%;
}

.filter-housing,
.filter-infrastructure {
    float: left;
    padding-left: 5%;
}

.filter-housing input,
.filter-infrastructure input {
    display: none;
}

.filter-price {
    float: right;
    padding-right: 5%;
}

.filter-housing-title,
.filter-infrastructure-title {
    margin-bottom: 28px;
}

.filter-variant {
    position: relative;
    display: block;
    margin-bottom: 31px;
    margin-left: 40px;
}

input + .filter-variant:before {
    position: absolute;
    top: 0;
    left: -40px;
    width: 20px;
    height: 20px;
    background: -406px -32px no-repeat url("../img/sprite.png");
    content: "";
}

input:checked + .filter-variant:before {
    position: absolute;
    top: 0;
    left: -40px;
    width: 20px;
    height: 20px;
    background: -380px -33px no-repeat url("../img/sprite.png");
}

input + .filter-variant:hover:before {
    background: -406px -62px no-repeat url("../img/sprite.png");
    content: "";
}

input:checked + .filter-variant:hover:before {
    background: -380px -2px no-repeat url("../img/sprite.png");
    content: "";
}

input:disabled + .filter-variant:before {
    background: -406px -1px no-repeat url("../img/sprite.png");
    content: "";
}

input:checked:disabled + .filter-variant:before {
    background: -380px -63px no-repeat url("../img/sprite.png");
    content: "";
}

input:checked + .filter-variant:before {
    background: -380px -33px no-repeat url("../img/sprite.png");
    content: "";
}

.filter-price-title {
    margin-bottom: 12px;
}

.filter-price-boundaries {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.filter-price-boundaries input {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    background-color: transparent;
    border: none;
    text-align: center;
}

.filter-price-boundaries input:nth-child(2n+1) {
    border-right: 2px solid #ffffff;
}

.filter-price-boundaries input:focus {
    outline: none;
}

.filter-price-scale {
    position: relative;
    min-height: 20px;
    margin-bottom: 23px;
}

.filter-price-scale:before {
    position: absolute;
    top: 9px;
    left: 10%;
    right: 10%;
    height: 2px;
    background-color: rgba(255, 255, 255, .3);
    content: "";
}

.filter-price-scale:after {
    position: absolute;
    top: 9px;
    left: 10%;
    right: 25%;
    height: 2px;
    background-color: #ffffff;
    content: "";
}

.filter-scale-toggle {
    position: absolute;
    width: 20px;
    top: 0;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.filter-scale-toggle:before {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ababab;
    content: "";
    z-index: 10;
}

.filter-scale-toggle:hover:before {
    background-color: #1c4f80;
}

.filter-min-toggle {
    left: 10%;
}

.filter-max-toggle {
    right: 25%;
}

.filter-btn {
    width: 136px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
}

.filter-btn:hover {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .5);
}

.filter-btn:active {
    color: rgba(255, 255, 255, .3);
    border: 2px solid rgba(255, 255, 255, .3);
}

.filter-btn:focus {
    outline: none;
}

.options {
    padding-top: 29px;
    padding-bottom: 33px;
    border: 1px solid #e5e5e5;
}

.options-left-column {
    box-sizing: border-box;
    padding-left: 5%;
    float: left;
    width: 620px;
    font-size: 0;
}

.options-left-column a,
.options-left-column span {
    display: inline-block;
    vertical-align: top;
}

.options-about,
.options-left-column a {
    padding-top: 6px;
}

.options-found {
    margin-right: 49px;
}

.options-about {
    margin-right: 40px;
}

.options-left-column a {
    margin-right: 33px;
}

.options-right-column {
    float: right;
    width: 70px;
    text-align: right;
    padding-top: 12px;
    margin-right: 5%;
    font-size: 0;
}

.options-right-column a {
    display: inline-block;
    vertical-align: top;
    width: 11px;
    height: 11px;
}

.options-down-arrow {
    position: relative;
    margin-left: 12px;
}

.options-up-arrow:before,
.options-down-arrow:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #e5e5e5 transparent transparent transparent;
    content: "";
}

.options-up-arrow {
    position: relative;
}

.options-up-arrow:before {
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #e5e5e5 transparent;
}

.options-up-arrow:hover:before {
    border-color: transparent transparent #000000 transparent;
}

.options-down-arrow:hover:before {
    border-color: #000000 transparent transparent transparent;
}

.options-up-arrow:active:before {
    border-color: transparent transparent #81b3d2 transparent;
}

.options-down-arrow:active:before {
    border-color: #81b3d2 transparent transparent transparent;
}

.options-up-arrow.options-active:before {
    border-color: transparent transparent #81b3d2 transparent;
}

.options-down-arrow.options-active:before {
    border-color: #81b3d2 transparent transparent transparent;
}

.result-housing {
    padding-top: 27px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.result-housing-left {
    box-sizing: border-box;
    font-size: 0;
    float: left;
    width: 500px;
    padding-left: 5%;
}

.result-housing-img,
.result-housing-infoblock {
    display: inline-block;
    vertical-align: top;
}

.result-housing-img {
    width: 135px;
    min-height: 90px;
    padding-top: 3px;
    margin-right: 31px;
}

.result-housing-infoblock {
    width: 258px;
}

.result-infoblock-title {
    display: block;
    max-width: 258px;
    margin-bottom: 9px;
}

.result-about-housing {
    float: left;
    width: 110px;
}

.result-about-price,
.result-housing-type {
    margin-bottom: 11px;
}

.result-about-booking {
    float: right;
    width: 142px;
}

.result-housing-ratings {
    box-sizing: border-box;
    float: right;
    width: 190px;
    padding-right: 5%;
}

.result-housing-more {
    display: block;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #81b3d2;
    text-align: center;
}

.result-housing-more:hover {
    background-color: #669ec0;
}

.result-housing-more:active {
    background-color: #5496bd;
}

.result-booking-btn {
    display: block;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #766357;
    text-align: center;
}

.result-booking-btn:hover {
    background-color: #604e43;
}

.result-booking-btn:active {
    background-color: #503e33;
}

.result-ratings-stars {
    width: 114px;
    min-height: 17px;
    margin-bottom: 45px;
}

.result-ratings-good {
    background: 23px -94px no-repeat url("../img/sprite.png");
}

.result-ratings-bad {
    background: 71px -94px no-repeat url("../img/sprite.png");
}

.result-ratings-normal {
    background: 46px -94px no-repeat url("../img/sprite.png");
}

.result-ratings-worst {
    background: 94px -94px no-repeat url("../img/sprite.png");
}

.result-ratings-excellent {
    background: 0 -94px no-repeat url("../img/sprite.png");
}

.result-mark-info {
    width: 110px;
    padding-top: 3px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #f2f2f2;
}

footer {
    font-size: 0;
}

.footer-social,
.footer-hashtag,
.footer-copyright {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    min-height: 120px;
    text-align: center;
}

.footer-hashtag {
    padding-top: 46px;
}

.footer-social {
    padding-top: 36px;
    font-size: 0;
}

.footer-social-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 48px;
    margin-right: 5px;
    background-color: #81b3d2;
}

.footer-social-btn:hover {
    position: relative;
    background-color: #669ec0;
}

.footer-social-btn:active {
    position: relative;
    background-color: #5496bd;
}

.footer-social-btn:before {
    position: absolute;
    width: 22px;
    height: 20px;
    content: "";
}

.footer-social-tw:before {
    top: 15px;
    left: 15px;
    background: -396px -101px no-repeat url("../img/sprite.png");
}

.footer-social-tw:active:before {
    background: -466px 0px no-repeat url("../img/sprite.png");
}

.footer-social-fb:before {
    top: 15px;
    left: 17px;
    background: -430px -99px no-repeat url("../img/sprite.png");
}

.footer-social-fb:active:before {
    background: -469px -32px no-repeat url("../img/sprite.png");
}

.footer-social-ytb:before {
    top: 17px;
    left: 12px;
    background: -464px -102px no-repeat url("../img/sprite.png");
}

.footer-social-ytb:active:before {
    background: -464px -67px no-repeat url("../img/sprite.png");
}

.footer-copyright {
    padding-top: 41px;
    font-size: 0;
}

.footer-copyright a,
.footer-copyright span {
    display: inline-block;
    vertical-align: middle;
}

.footer-copyright-glukhanko {
    width: 28px;
    height: 33px;
    margin-left: 5px;
    margin-right: 5px;
    background: -304px 0px no-repeat url("../img/sprite.png");
}

.footer-copyright-glukhanko:hover {
    background: -304px -41px no-repeat url("../img/sprite.png");
}

.footer-copyright-glukhanko:active {
    background: -304px -84px no-repeat url("../img/sprite.png");
}

.footer-copyright-htmlacademy {
    width: 28px;
    height: 33px;
    margin-left: 5px;
    background: -340px 0px no-repeat url("../img/sprite.png");
}

.footer-copyright-htmlacademy:hover {
    background: -340px -41px no-repeat url("../img/sprite.png");
}

.footer-copyright-htmlacademy:active {
    background: -340px -84px no-repeat url("../img/sprite.png");
}

.offer-form {
    display: none;
    width: 460px;
    margin: 0 auto;
    padding: 55px;
    font-size: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.3), 0px -10px 30px 0px #ffffff;
}

.offer-form-row {
    font-size: 0;
    margin-bottom: 27px;
}

.offer-form-row label {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
}

.offer-form-row input {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 301px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 30px;
    border-style: none;
    background-color: #f2f2f2;
}

.offer-form input:hover {
    background-color: #ebebeb;
}

.offer-form input:focus {
    outline: none;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
    -moz-box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
    box-shadow: inset 0 0 0 2px rgba(229, 229, 229, 1);
}

.offer-form-col {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 0;
}

.offer-form-col label {
    text-align: center;
}

.offer-form-col:first-child label {
    text-align: left;
}

.offer-form-dates input:after {
    position: absolute;
    width: 21px;
    height: 23px;
    content: "";
    background: -131px -93px no-repeat url("../img/sprite.png");
}

.offer-form-dates input:hover:after {
    background: -163px -93px no-repeat url("../img/sprite.png");
}

.offer-form-dates input:focus:after {
    background: -194px -93px no-repeat url("../img/sprite.png");
}

.offer-form-dates + .offer-form-row {
    margin-bottom: 55px;
}

.offer-form-col input {
    width: 32px;
    padding-left: 41px;
    padding-right: 41px;
    text-align: center;
}

.offer-col-controls {
    position: relative;
}

.offer-col-controls:before {
    position: absolute;
    top: -19px;
    left: 130px;
    height: 0;
    width: 11px;
    height: 11px;
    background: -237px -88px no-repeat url("../img/sprite.png");
    content: "";
}

input:hover+.offer-col-controls:before {
    background: -237px -103px no-repeat url("../img/sprite.png");
}

input:focus+.offer-col-controls:before {
    background: -237px -118px no-repeat url("../img/sprite.png");
}

.offer-col-controls:after {
    position: absolute;
    top: -23px;
    right: -94px;
    height: 0;
    width: 11px;
    height: 11px;
    background: -262px -84px no-repeat url("../img/sprite.png");
    content: "";
}

input:hover+.offer-col-controls:after {
    background: -262px -99px no-repeat url("../img/sprite.png");
}

input:focus+.offer-col-controls:after {
    background: -262px -114px no-repeat url("../img/sprite.png");
}

.offer-form-btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 18px;
    border: none;
    background-color: #81b3d2;
}

.offer-form-btn:focus {
    outline: none;
}

.offer-form-btn:hover {
    background-color: #669ec0;
}

.offer-form-btn:active {
    background-color: #5496bd;
}

.card {
    position: relative;
    padding-top: 66px;
    padding-bottom: 80px;
    background: #647e94 no-repeat url("../img/main-page-logo.jpg");
    background-size: 100% auto;
    text-align: center;
}

.card:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background: 0 0 no-repeat url("../img/logo-shape.png");
    background-size: 100% 57px;
    content: "";
}

.card-subgreetings {
    position: relative;
    top: -17px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.card-subgreetings:before {
    position: absolute;
    top: 25px;
    left: -29px;
    width: 29px;
    height: 2px;
    background-color: #766357;
    content: "";
}

.card-subgreetings:after {
    position: absolute;
    top: 25px;
    right: -29px;
    width: 29px;
    height: 2px;
    background-color: #766357;
    content: "";
}

.card-title {
    margin: 5px;
}

.description {
    padding-top: 50px;
    padding-bottom: 50px;
}

.description-info,
.description-definition {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.description-definition {
    margin-bottom: 25px;
}

.city {
    font-size: 0;
    height: 256px;
    overflow: hidden;
/*    background-color: #81b3d2;*/
}

.city-description {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    height: 310px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #81b3d2;
    text-align: center;
}

.description-layout {
    height: 100%;
}

.city-description p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.city-view {
    display: inline-block;
    vertical-align: top;
    width: 66.66%;
}

.city-view img {
    display: block;
    width: 100%;
}

.city-description-title {
    margin-bottom: 15px;
}

.city-description-subtitle {
    position: relative;
    width: 50px;
    margin-bottom: 20px;
}

.city-description-subtitle:after {
    position: absolute;
    top:9px;
    right: 0;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    content: "";
}

.city-description-subtitle:before {
    position: absolute;
    top:9px;
    left: 0;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
    content: "";
}